/*
	@author: Mitch Gohman
	@date Tue 07 Nov 2017 08:40:39 AM PST
	Responsive Carousel Slider - Creating new stand alone slider app that can be used/modded elsewhere
*/
#mobile {
  width: 375px;
  height: 647px;
  margin: auto;
  outline: solid 1px black;
  margin-bottom: 50px;
}
.wf-carousel-mobile {
  /*Default Mobile Styles plus medium and large*/
  width: 100%;
  /*-------------------------------------
	| Page Specific
	-------------------------------------*/
}
.wf-carousel-mobile .deck {
  box-sizing: border-box;
  margin: 25px auto 0;
  width: 300px;
  height: 340px;
  position: relative;
  /*-------------------------------------
		| The lower the card number, the closer to the viewer. inverse of our DOM array
		-------------------------------------*/
}
.wf-carousel-mobile .deck .card {
  background-color: white;
  width: 300px;
  height: 340px;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  left: 0px;
  top: 0px;
  transition: .4s all;
}
.wf-carousel-mobile .deck .card1 {
  transform: perspective(500px) translateZ(0px);
  z-index: 3;
  top: 50px;
}
.wf-carousel-mobile .deck .card2 {
  z-index: 2;
  transform: perspective(500px) translateZ(-50px);
  top: 23px;
}
.wf-carousel-mobile .deck .card3 {
  transition: .4s opacity;
  z-index: 1;
  transform: perspective(500px) translateZ(-100px);
  top: 0px;
}
.wf-carousel-mobile .deck .card-slide-off {
  transition: .5s all;
  z-index: 4;
  left: 800px;
  opacity: 0;
  transform: perspective(500px) translateZ(0px) rotate(10deg);
}
.wf-carousel-mobile .controls {
  text-align: center;
  margin: 40px 0 15px;
}
.wf-carousel-mobile .controls > div {
  display: inline-block;
}
.wf-carousel-mobile .controls .circles .circle {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: solid 1px red;
}
.wf-carousel-mobile .controls .circles .circle span {
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}
.wf-carousel-mobile .controls .circles .circle.current span {
  background-color: #666;
}
.wf-carousel-mobile .controls .circles .circle:hover span {
  background-color: #000;
}
.wf-carousel-mobile .controls .sets .set.current .circle {
  background-color: maroon;
}
.wf-carousel-mobile .controls .sets .set:hover .circle {
  background-color: darkred;
}
.wf-carousel-mobile .content {
  box-sizing: border-box;
  height: 340px;
  padding: 15px;
  text-align: center;
  position: relative;
}
.wf-carousel-mobile .content .image {
  height: 138px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
}
.wf-carousel-mobile .content h1 {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  padding: 0 10px;
}
.wf-carousel-mobile .content h2 {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
}
.wf-carousel-mobile .content a.button {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  width: 67%;
  margin: auto;
  padding: 7px;
  border: solid 2px navy;
  border-radius: 3px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  color: navy;
  text-decoration: none;
}
.wf-carousel-mobile .content a.button:hover,
.wf-carousel-mobile .content a.button:active {
  text-decoration: none;
}
