/*
    @author: Mitch Gohman
	@date Tue 19 Dec 2017 02:44:09 PM PST
    Responsive Carousel Slider - Creating new stand alone slider app that can be used/modded elsewhere

    @TODO: use global breakpoints, currently all over the map
*/
/*-------------------------------------
| Less Variables like CTM
-------------------------------------*/
/*-------------------------------------
| Creating default Environment Settings to match CTM
-------------------------------------*/
body {
  background-color: #333;
}
body #wrapper {
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 25px;
  min-height: 10000px;
}
@media (min-width: 768px) {
  body #wrapper {
    width: 1014px;
  }
}
body #wrapper h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  body #wrapper h1 {
    font-size: 30px;
  }
}
/*---------------------------
| Mobile Specific
---------------------------*/
.tcc-container.mobile {
  width: 100%;
  position: relative;
}
.tcc-container.mobile .tcc-carousel {
  box-sizing: border-box;
  position: relative;
  top: -30px;
  margin: 0 auto;
  width: 256px;
  height: 380px;
  /*-------------------------------------
        | The lower the card number, the closer to the viewer. inverse of our DOM array
        -------------------------------------*/
}
.tcc-container.mobile .tcc-carousel .tcc-card {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: .4s all;
  width: 256px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.tcc-container.mobile .tcc-carousel .tcc-card1 {
  transform: perspective(500px) translateZ(0px);
  z-index: 3;
  top: 60px;
}
.tcc-container.mobile .tcc-carousel .tcc-card2 {
  background-color: #fbfafa;
  z-index: 2;
  transform: perspective(500px) translateZ(-50px);
  top: 30px;
}
.tcc-container.mobile .tcc-carousel .tcc-card3 {
  background-color: #fbfafa;
  transition: .4s opacity;
  z-index: 1;
  transform: perspective(500px) translateZ(-100px);
  top: 5px;
}
.tcc-container.mobile .tcc-carousel .card-slide-off {
  transition: .5s all;
  z-index: 4;
  left: 800px;
  opacity: 0;
  transform: perspective(500px) translateZ(0px) rotate(10deg);
}
.tcc-container.mobile .tcc-controls {
  text-align: center;
  position: relative;
  width: 256px;
  margin: auto;
}
.tcc-container.mobile .tcc-controls > div {
  display: inline-block;
}
.tcc-container.mobile .tcc-controls .tcc-circles .tcc-circle {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 40px;
}
.tcc-container.mobile .tcc-controls .tcc-circles .tcc-circle span {
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}
.tcc-container.mobile .tcc-controls .tcc-circles .tcc-circle.theChosenOne span {
  background-color: #bc0121;
}
.tcc-container.mobile .tcc-controls .tcc-circles .tcc-circle:hover span {
  background-color: #000;
}
/*---------------------------
| Medium Large
---------------------------*/
.tcc-container.mediumLarge {
  width: 800px;
}
@media (min-width: 1000px) {
  .tcc-container.mediumLarge {
    width: 964px;
  }
}
.tcc-container.mediumLarge .tcc-carousel {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 355px;
}
@media (min-width: 1000px) {
  .tcc-container.mediumLarge .tcc-carousel {
    width: 964px;
  }
}
.tcc-container.mediumLarge .tcc-carousel .tcc-set {
  width: 800px;
  height: 355px;
  position: absolute;
  top: 0;
}
@media (min-width: 1000px) {
  .tcc-container.mediumLarge .tcc-carousel .tcc-set {
    width: 964px;
  }
}
.tcc-container.mediumLarge .tcc-carousel .tcc-set .tcc-card {
  float: left;
  width: 246px;
  margin-right: 31px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1000px) {
  .tcc-container.mediumLarge .tcc-carousel .tcc-set .tcc-card {
    width: 300.66666667px;
  }
}
.tcc-container.mediumLarge .tcc-carousel .tcc-set .tcc-card:last-child {
  margin-right: 0px;
}
.tcc-container.mediumLarge .tcc-carousel .tcc-set1 {
  left: 0;
}
.tcc-container.mediumLarge .tcc-carousel .tcc-set2,
.tcc-container.mediumLarge .tcc-carousel .tcc-set3 {
  left: 800px;
}
@media (min-width: 1000px) {
  .tcc-container.mediumLarge .tcc-carousel .tcc-set2,
  .tcc-container.mediumLarge .tcc-carousel .tcc-set3 {
    left: 964px;
  }
}
.tcc-container.mediumLarge .tcc-controls {
  margin: 15px 0 0;
  text-align: center;
  position: relative;
}
.tcc-container.mediumLarge .tcc-controls > div {
  display: inline-block;
}
.tcc-container.mediumLarge .tcc-controls .tcc-left,
.tcc-container.mediumLarge .tcc-controls .tcc-right {
  /*sr-only*/
  font-size: 0;
  background-image: url('../img/arrows.png');
  width: 16px;
  height: 29px;
  cursor: pointer;
  position: relative;
  top: 22px;
}
.tcc-container.mediumLarge .tcc-controls .tcc-left {
  margin-right: 15px;
  background-position: 0 0;
}
.tcc-container.mediumLarge .tcc-controls .tcc-right {
  margin-left: 15px;
  background-position: 0 -29px;
}
.tcc-container.mediumLarge .tcc-controls .tcc-circles .tcc-circle {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 40px;
}
.tcc-container.mediumLarge .tcc-controls .tcc-circles .tcc-circle span {
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}
.tcc-container.mediumLarge .tcc-controls .tcc-circles .tcc-circle.theChosenOne span {
  background-color: #bc0121;
}
.tcc-container.mediumLarge .tcc-controls .tcc-circles .tcc-circle:hover span {
  background-color: #000;
}
/*===================================
||
|| Wells Fargo Travel Home (WFTH) Sepecific Styles
||
===================================*/
/* Shared Styles */
.wfthCarousel .tcc-container .tcc-carousel .tcc-content {
  box-sizing: border-box;
  height: 340px;
  padding: 15px;
  background-color: white;
  text-align: center;
  position: relative;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content .tcc-image {
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
  height: 116px;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content h1,
.wfthCarousel .tcc-container .tcc-carousel .tcc-content h2 {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 100%;
  margin: 0px;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content h1 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  padding: 0 10px;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content h2 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 50px;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content button.button {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  width: 185px;
}
.wfthCarousel .tcc-container .tcc-carousel .tcc-content button.button:hover,
.wfthCarousel .tcc-container .tcc-carousel .tcc-content button.button:active {
  text-decoration: none;
}
.wfthCarousel .tcc-container .tcc-controls .tcc-see-all {
  text-decoration: none;
  font-size: 14px;
}
/* Mobile Carousel */
#wfthCarouselMobile.wfthCarousel .tcc-container {
  outline: solid 5px purple;
  overflow: hidden;
}
@media (min-width: 768px) {
  #wfthCarouselMobile.wfthCarousel .tcc-container {
    display: none;
  }
}
#wfthCarouselMobile.wfthCarousel .tcc-container .tcc-carousel .tcc-content button.button {
  width: 270px;
  max-width: calc(100% - 30px);
}
#wfthCarouselMobile.wfthCarousel .tcc-container .tcc-controls .tcc-see-all {
  position: absolute;
  top: 10px;
  right: -20px;
}
/* Medium and Large */
#wfthCarouselMediumLarge.wfthCarousel .tcc-container {
  outline: solid 5px teal;
}
@media (max-width: 767px) {
  #wfthCarouselMediumLarge.wfthCarousel .tcc-container {
    display: none;
  }
}
#wfthCarouselMediumLarge.wfthCarousel .tcc-container .tcc-controls .tcc-see-all {
  position: absolute;
  top: 0px;
  right: 0px;
}
