/*
	@author: Mitch Gohman
	@date Tue 07 Nov 2017 08:40:39 AM PST
	Responsive Carousel Slider - Creating new stand alone slider app that can be used/modded elsewhere

	@TODO: use global breakpoints, currently all over the map
*/
/*Clearfix: Damn you floats.*/
.deck:before,
.deck:after {
  content: " ";
  display: table;
}
.deck:after {
  clear: both;
}
.deck {
  *zoom: 1;
}
.wf-carousel {
  /*Default Mobile Styles plus medium and large*/
  overflow: hidden;
  width: 100%;
}
.wf-carousel .deck {
  box-sizing: border-box;
  position: relative;
  left: 0px;
  /*Width is determined by number of cards by javascript*/
}
.wf-carousel .deck .card {
  box-sizing: border-box;
  float: left;
  padding: 0px 15px;
}
.wf-carousel.wf-carousel-set-1 .deck .card:nth-of-type(1n+1) {
  padding-left: 0;
}
.wf-carousel.wf-carousel-set-1 .deck .card:nth-of-type(1n+1) {
  padding-right: 0;
}
.wf-carousel.wf-carousel-set-2 .deck .card:nth-of-type(2n+1) {
  padding-left: 0;
}
.wf-carousel.wf-carousel-set-2 .deck .card:nth-of-type(2n+2) {
  padding-right: 0;
}
.wf-carousel.wf-carousel-set-3 .deck .card:nth-of-type(3n+1) {
  padding-left: 1px;
}
.wf-carousel.wf-carousel-set-3 .deck .card:nth-of-type(3n+3) {
  padding-right: 0;
}
.wf-carousel.wf-carousel-set-4 .deck .card:nth-of-type(4n+1) {
  padding-left: 0;
}
.wf-carousel.wf-carousel-set-4 .deck .card:nth-of-type(4n+4) {
  padding-right: 0;
}
.wf-carousel .controls {
  text-align: center;
  margin: 15px 0px;
}
.wf-carousel .controls > div {
  display: inline-block;
}
.wf-carousel .controls .left,
.wf-carousel .controls .right {
  /*sr-only*/
  font-size: 0;
  background-image: url('../img/arrows.png');
  width: 16px;
  height: 29px;
  cursor: pointer;
}
.wf-carousel .controls .left {
  margin-right: 15px;
  background-position: 0 0;
}
.wf-carousel .controls .right {
  margin-left: 15px;
  background-position: 0 -29px;
}
.wf-carousel .controls .sets .set {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 29px;
}
.wf-carousel .controls .sets .set .circle {
  display: block;
  margin: auto;
  position: relative;
  top: 10px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}
.wf-carousel .controls .sets .set.current .circle {
  background-color: #666;
}
.wf-carousel .controls .sets .set:hover .circle {
  background-color: #000;
}
/* Page Specific */
.wf-special-offer-learnmore-carousel-container .controls .sets .set.current .circle {
  background-color: maroon;
}
.wf-special-offer-learnmore-carousel-container .controls .sets .set:hover .circle {
  background-color: darkred;
}
.wf-special-offer-learnmore-carousel-container .content {
  box-sizing: border-box;
  height: 309px;
  padding: 15px;
  border-radius: 3px;
  border: solid 1px #333;
  text-align: center;
  position: relative;
}
.wf-special-offer-learnmore-carousel-container .content .image {
  height: 138px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
}
.wf-special-offer-learnmore-carousel-container .content h1 {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  padding: 0 10px;
}
.wf-special-offer-learnmore-carousel-container .content h2 {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
}
.wf-special-offer-learnmore-carousel-container .content a.button {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  width: 67%;
  margin: auto;
  padding: 7px;
  border: solid 2px navy;
  border-radius: 3px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  color: navy;
  text-decoration: none;
}
.wf-special-offer-learnmore-carousel-container .content a.button:hover,
.wf-special-offer-learnmore-carousel-container .content a.button:active {
  text-decoration: none;
}
